.searchform {
  padding: 80px 70px 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .searchform {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .searchform {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.searchform__container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
}

.searchform__item {
  width: 1086px;
  padding: 16px 0 16px 20px;
  background: #2f2f2f;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8b8b8b;
  border: none;
}

@media screen and (max-width: 767px) {
  .searchform__item {
    padding: 13px 0 13px 13px;
  }
}

.searchform__item:focus {
  outline: 1px solid #3ddc84;
}

.searchform__submit-button {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  border: none;
  padding: 0px;
  flex-shrink: 0;
}

.searchform__submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.searchform__item-error {
  /* display: none; */
  position: absolute;
  padding-left: 10px;
  top: 100%;
  left: 0;
  display: block;
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.searchform__submit-button:disabled {
  background: #2f2f2f;
}
